<div class="yourboards-content">
    <div class="heading">
        <h1>Your Boards</h1>
        <div class="headline-underline"></div>
        <span>Please click on one of your boards to see the details!</span>
    </div>
    <div class="heading create" (click)="dialogOpen = true">
        <span>Create a new Board</span>
    </div>
    <div *ngIf="boards.length > 0" class="boards">
        <div *ngFor="let board of boards" class="board" [routerLink]="[ '/board', board.name]">
            <span>{{ board.name }}</span>
        </div>
    </div>
    <app-addboarddialog *ngIf="dialogOpen" style="z-index: 1;" (closeDialog)="dialogOpen = false"></app-addboarddialog>
    <button (click)="logout()" class="logoutBtn hover-dark">Logout</button>
</div>