

.content-destop {
    width: 100%;
    /* min-width: 1024px; */
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: Inter;
    box-sizing: border-box;
    position: relative;
}

.tasks-main{
    min-height: 80%;
}

.inner-content {
    background-color: #F6F7F8;
    position: absolute;
    left: 232px;
    top: 89px;
    height: calc(100vh - 89px);
    width: calc(100% - 232px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .inner-content {
    scrollbar-width: auto;
    scrollbar-color: #2a3647 #F6F7F8;
  }

  /* Chrome, Edge, and Safari */
  .inner-content::-webkit-scrollbar {
    width: 10px;
  }

  .inner-content::-webkit-scrollbar-track {
    background: #F6F7F8;
  }

  .inner-content::-webkit-scrollbar-thumb {
    background-color: #2a3647;
    border-radius: 10px;
    border: 1px solid #ffffff;
  }

.alert-delete-task-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-delete-task {
    height: 240px;
    width: 450px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    box-sizing: border-box;
}

.close-overlay-btn-delete {
    height: 32px;
    width: 32px;
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
}

.alert-delete-task h2 {
    text-align: center;
}

.alert-delete-task-btn {
    margin-top: 32px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.alert-delete-task-btn button {
    font-size: 20px;
    width: 120px;
    height: 44px;
    background: #2A3647;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
}

.alert-delete-delete-btn {
    background-color: red !important;
}

.alert-delete-delete-btn:hover {
    background-color: rgb(255, 105, 105) !important;
}

.alert-delete-task-btn button:hover {
    background: #29ABE2;
}

.main-heading {
    font-size: 61px;
    font-weight: 700;
    margin-bottom: 0 !important;
    margin-top: 0 !important;

}

.heading-search-add {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 50px;
}

.input-and-button-container {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;

}

.board-input-container {
    height: 42px;
    width: 260px;
    padding: 3px 7px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    font-size: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.board-inputfield {
    font-size: 16px;
    font-weight: 100;
    width: 200px;
    border: none;
    outline: none;
}

.search-icon {
    margin-left: 7px;

}

.vertical-line {
    color: lightgray;
    font-weight: 200;
    font-size: 25px;

}

.add-task-btn {
    height: 50px;
    width: 115px;
    border-radius: 10px;
    background: #2A3647;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.add-task-btn-mobile {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background: #2A3647;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    display: none;

}

.add-task-btn:hover {
    background-color: #29ABE2;
    box-shadow: #2A3647;
    border: none;
}

.add-task-btn-mobile:hover {
    background-color: #29ABE2;
    box-shadow: #2A3647;
    border: none;
}

.tasks-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.task {
    width: 23%;
    height: 100%;
    min-height: 72vh;
    padding: 8px;
    border-radius: 10px;
}

.dragarea-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.tasks-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 21px;

    span{
        cursor: pointer;
    }
}

.plus-icon {
    background-image: url('./../../../assets/img/plus_black.svg');
    object-fit: cover;
    height: 30px;
    width: 30px;
}

.plus-icon:hover {
    background-image: url('./../../../assets/img/plus_blue.svg');
}


/* TASK CARDS */






/* CARD VIEW OVERLAY */



.task-overly-details {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    direction: rtl;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .task-overly-details {
    scrollbar-width: auto;
    scrollbar-color: #2a3647 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  .task-overly-details::-webkit-scrollbar {
    width: 10px;
  }

  .task-overly-details::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .task-overly-details::-webkit-scrollbar-thumb {
    background-color: #2a3647;
    border-radius: 10px;
    border: 1px solid #ffffff;
  }


.headingMoveStatusBtns {
    display: none;
}

.moveStatusBtns {
    display: none;
}





/* COLORS FOR CONTRIBUTORS */

.blue {
    background-color: #0390E0 !important;
}

.purple {
    background-color: #EE01D6 !important;
}

.green {
    background-color: #04CF2E !important;
}

.yellow-dark {
    background-color: #FFA800 !important;
}

.lila {
    background-color: #9326FF !important;
}

.orange {
    background-color: #FF5C01 !important;
}

/* COLORS FOR CATEGORY */

.design {
    background-color: #FF7A00 !important;
}

.sales {
    background-color: #FC71FF !important;
}

.backoffice {
    background-color: #1FD7C1 !important;
}

.marketing {
    background-color: #0038FF !important;
}

.media {
    background-color: #FFC704 !important;
}


/* CSS FOR OVERLAY */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: flex;
    justify-content: center;
}

.d-none {
    display: none;
}



.oflow-y-hid {
    overflow-y: hidden !important;
}

.oflow-y-unset {
    overflow-y: unset !important;
}

.content-mobile {
    display: none;
}

.small-heading-mobile {
    font-size: 18px;
}

@media(max-width:1024px) {
    
    .inner-content{
        width: unset;
        left: 0;
        right: 0;
        padding-left: 8px;
    }

    .tasks-container{
        padding-bottom: 90px;
    }

    .task{
        width: unset;
        height: unset;
        min-height: unset;
    }

    .tasks-main{
        display: flex;
        overflow-x: scroll;
        padding: 8px;
        padding-bottom: 16px;

        app-board-task{
            margin-left: 10px;
            min-width: 180px;
        }
    }
}

/* MOBILE VERSION */

/* 1180 PX */
@media (max-width: 1180px) {
    .heading-search-add {
        width: 95%;
    }

    .tasks-container {
        width: 95%;
    }

    .contributors-circle {
        font-size: 14px;
        padding: 8px 7px;
    }

    .contributors-circle-big {
        height: 40px;
        width: 40px;
    }
}

/* 1024 PX */
@media(max-width: 1024px) {
    .content-destop {
        display: none;
    }

    .task-overly-details::-webkit-scrollbar {
        display: none;
    }

    .content-mobile {
        display: block;
        width: 100%;
        padding: 32px;
        padding-top: 112px;
        box-sizing: border-box;
    }

    .heading-search-add {
        width: 100%;
    }

    .tasks-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;
    }

    .task-mobile {
        width: 100%;
    }

    .task-card {
        margin-bottom: 32px;
    }

    .card-bottom {
        width: 95%;
    }


    .card-category {
        width: fit-content;
        max-width: 100%;
        min-width: 30%;
    }

    .heading-search-add {
        margin-top: 22px;
    }

    .headingMoveStatusBtns {
        font-size: 18px;
        display: unset;
        margin-bottom: 14px;
        font-weight: bold;
        direction: ltr;
        margin-left: 24px;
    }

    .moveStatusBtns {
        display: unset;
        display: flex;
        margin-bottom: 32px;
        direction: ltr;
        margin-left: 24px;
    }

    .moveStatusBtns button {
        font-size: 18px !important;
        height: 44px;
    }

    .edit-overlay-btn-statuslast {
        display: unset;
        font-size: 20px;
        width: 120px;
        height: 44px;
        background: #2A3647;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        color: white;
    }

    .edit-overlay-btn-statuslast:hover {
        background: #29ABE2;
    }

    .edit-overlay-btn-statusnext {
        display: unset;
        font-size: 20px;
        width: 120px;
        height: 44px;
        background: #2A3647;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        color: white;
    }

    .edit-overlay-btn-statusnext:hover {
        background: #29ABE2;
    }
}

/* 850 PX */
@media (max-width: 850px) {
    .card-container {
        position: absolute;
        top: 80px;
        bottom: 80px;
        width: 88%;
        border-radius: unset;
        background-color: #F6F7F8;
    }

    .close-overlay-btn {
        display: none;
    }

    .back-overlay-btn {
        display: block;
    }

    .edit-overlay-btn {
        position: absolute;
        bottom: 50px;
        right: 50px;
    }

    .edit-overlay-btn-delete {
        position: absolute;
        bottom: 114px;
        right: 50px;
    }

}

/* 750 PX */
@media (max-width: 750px) {
    .heading-search-add {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .add-task-btn {
        display: none;
    }


    .add-task-btn-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 12px;
        right: 0px;
    }

    .input-and-button-container {
        width: auto;
    }

    .card-bottom {
        width: 90%;
    }

    .main-heading {
        margin-bottom: 22px !important;
    }


}

/* 500 PX */
@media(max-width: 500px) {
    .card-title-big {
        font-size: 32px;
        word-wrap: break-word;
    }

    .card-description-big {
        font-size: 16px;
        word-wrap: break-word;
    }

    .due-date-prio {
        font-size: 18px;
    }

    .priority-tag {
        height: 32px;
    }

    .contributors-circle-big {
        height: 35px;
        width: 35px;
    }

    .edit-overlay-btn {
        bottom: 22px;
        right: 44px;
    }

    .edit-overlay-btn-delete {
        bottom: 86px;
        right: 44px;
    }
}

/* 375 PX */
@media(max-width: 375px) {
    .card-container {
        top: 0;
        bottom: 0;
    }

    .alert-delete-task {
        height: 220px;
    }

    .alert-delete-task h2 {
        font-size: 20px;
    }

    .alert-delete-task-btn {
        margin-top: 28px;
    }

    .alert-delete-task-btn button {
        font-size: 18px;
        width: 100px;
    }

}

/* 350 PX */
@media (max-width: 350px) {
    .small-heading-mobile {
        font-size: 16px;
    }

    .main-heading {
        font-size: 45px;

    }

    .add-task-btn-mobile {
        height: 35px;
        width: 35px;
    }

    .board-input-container {
        width: 212px;
        height: 42px;
    }

    .board-inputfield {
        width: 150px;
    }
}