<div class="inner-content">
    <div class="heading-search-add">
        <h1 class="main-heading" style="color: #2A3647">Board</h1>
        <div class="input-and-button-container">
            <div class="board-input-container">
                <input class="board-inputfield" [(ngModel)]="searchInput" type="text" placeholder="Find Task" (keyup)="searchTask()">
                <div style="display: flex ;">
                    <span class="vertical-line">|</span>
                    <img class="search-icon" src="assets/img/search-icon.svg" alt="">
                </div>
            </div>
            <button class="add-task-btn" (click)="showAddTask('todo')">Add task <img style="margin-left: 5px; height: 15px; width: 15px;"src="assets/img/plus-icon.svg"> </button>
        </div>
    </div>

    <div cdkDropListGroup class="tasks-container">

        <div class="task">

            <div class="tasks-heading">
                <h3>To do</h3>
                <span class="plus-icon" (click)="showAddTask('todo')"></span>
            </div>

            <div id="todo" cdkDropList (cdkDropListDropped)="drop($event)" class="tasks-main" [cdkDropListData]="todoTasks">
                <app-board-task [cdkDragData]="task" cdkDrag style="height:fit-content" *ngFor="let task of todoTasks" [task]="task" [ngClass]="{'d-none': !task.show}"  (click)="showTaskDetails(task)"></app-board-task>
            </div>

        </div>

        <div class="task">

            <div class="tasks-heading">
                <h3>In progress</h3>
                <span class="plus-icon" (click)="showAddTask('progress')"></span>
            </div>

            <div id="progress" class="tasks-main" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="progressTasks">
                <app-board-task [cdkDragData]="task" style="height:fit-content" cdkDrag *ngFor="let task of progressTasks" [task]="task" [ngClass]="{'d-none': !task.show}" (click)="showTaskDetails(task)"></app-board-task>
            </div>

        </div>

        <div class="task">

            <div class="tasks-heading">
                <h3>Feedback</h3>
                <span class="plus-icon" (click)="showAddTask('feedback')"></span>
            </div>

            <div id="feedback" class="tasks-main" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="feedbackTasks">
                <app-board-task [cdkDragData]="task" style="height:fit-content" cdkDrag *ngFor="let task of feedbackTasks" [task]="task" [ngClass]="{'d-none': !task.show}" (click)="showTaskDetails(task)"></app-board-task>
            </div>

        </div>

        <div class="task">

            <div class="tasks-heading">
                <h3>Done</h3>
                <span class="plus-icon" (click)="showAddTask('done')"></span>
            </div>

            <div id="done" class="tasks-main" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="doneTasks">
                <app-board-task [cdkDragData]="task" style="height:fit-content" cdkDrag *ngFor="let task of doneTasks" [task]="task" [ngClass]="{'d-none': !task.show}" (click)="showTaskDetails(task)"></app-board-task>
            </div>

        </div>


    </div>
</div>