<div class="complete-page">
    <div class="signUp-display">
        <div class="signUp-area" style="box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);">
            <div class="arrow" [routerLink]="['../login']"><img src="assets/img/arrow-121-32.png"></div>

            <div class="headline">
                <h1 style="margin-bottom: 0;margin-top:10px;">Sign up</h1>
            </div>

            <div class="headline-underline"></div>
            <form (submit)="signUp()" [formGroup]="signupForm" class="form-style">
                <div class="signup-name-field">
                    <input formControlName="username" type="text" class="form-control" placeholder="Name">
                    <img class="name-signup-icon bg-white" src="assets/img/name-icon.svg" alt="">
                </div>

                <div class="signup-email-field">
                    <input formControlName="email" type="email" class="form-control" placeholder="Email">
                    <img class="mail-signup-icon bg-white" src="assets/img/mail-icon.svg" alt="">

                </div>

                <div class="signup-password-field">
                    <input #passwordSignUp formControlName="password" (keyup)="checkForInput()" required
                        type="password" class="form-control" placeholder="Password" aria-label="First name">
                    <img [ngClass]="{'d-none': inputThere}" class="password-signup-icon bg-white" src="assets/img/password-icon.svg">
                    <img (click)="showPw()" class="password-icon bg-white" src="assets/img/pw-no-show-icon.svg"
                        style="cursor: pointer ;" [ngClass]="{ 'd-none': !inputThere || !passwordShown }">
                    <img (click)="showPw()" class="password-icon bg-white" [ngClass]="{ 'd-none': !inputThere || passwordShown }" src="assets/img/pw-show-icon.svg"
                        style="cursor: pointer ;">
                </div>

                <div>
                    <span class="authErrorPlaceholder" *ngIf="!errorLogin && !errorCreate">Hallo</span>
                </div>

                <div>
                    <span class="authError" *ngIf="errorCreate && !errorLogin">Username or Email already in use!</span>
                </div>
                <div>
                    <span class="authError" *ngIf="!errorCreate && errorLogin">Oops! Something went wrong. Your Account was still created though!</span>
                </div>
                <button style="margin-top: 8px;" class="button mt-4 hover-dark" [ngClass]="{'disabledBtn': signupForm.invalid}" [disabled]="signupForm.invalid" type="submit">Sign up</button>
            </form>


        </div>
    </div>
</div>