<div class="complete-page">
    <div class="forgot-password-display">
        <div class="forgot-password-area">
            <div class="arrow" [routerLink]="['../login']"><img src="assets/img/arrow-121-32.png"></div>

            <div class="headline">
                <h2 style="margin-bottom: 0;">I forgot my password</h2>
            </div>

            <div class="headline-underline"></div>

            <div class="info-div">
                <span>Don't worry! We will send you an email with the instructions to reset your password.</span>
            </div>

            <div class="forgot-password-email-field">
                <form (submit)="sendMail()" class="forgot-pw-form"
                    action="https://simon-vitt.developerakademie.net/Join/send_mail.php" method="POST">

                    <input required name="email" type="email" class="form-control"
                        placeholder="E-Mail" aria-label="First name">

                    <img class="forgot-password-icon bg-white" src="assets/img/mail-icon.svg" alt="">

                    <span class="user-not-found d-none">User not found. Try again</span>


                    <button type="submit" class="button" style="margin-top: 16px ;">Send mail</button>

                </form>
            </div>



        </div>

    </div>
</div>