<div class="complete-page">
    <div class="forgot-password-display">
        <div class="forgot-password-area">

            <div class="headline">
                <h2 style="margin-bottom: 0;">Reset your password!</h2>
            </div>

            <div class="headline-underline"></div>

            <div *ngIf="!passwordResetSuccess" class="info-div">
                <span>Enter your new password and confirm!</span>
            </div>
            <form *ngIf="!passwordResetSuccess" (submit)="changePassword()" [formGroup]="resetPwForm" class="forgot-pw-form">

                <div class="password-field" style="margin-bottom: 12px;">
                    <input (keyup)="checkForInput(1)" formControlName="password1" #password1 type="password"
                        class="form-control" placeholder="Password">
                    <img [ngClass]="{'d-none': inputThere1}" class="password-icon bg-white"
                        src="assets/img/password-icon.svg">
                    <img (click)="showPw(1)" [ngClass]="{ 'd-none': !inputThere1 || !passwordShown1 }"
                        class="password-icon bg-white" src="assets/img/pw-no-show-icon.svg" style="cursor: pointer ;">
                    <img (click)="showPw(1)" #pwShowLogin [ngClass]="{ 'd-none': !inputThere1 || passwordShown1 }"
                        class="password-icon d-none bg-white" src="assets/img/pw-show-icon.svg"
                        style="cursor: pointer ;">

                </div>
                <div class="password-field">
                    <input (keyup)="checkForInput(2)" formControlName="password2" #password2 type="password"
                        class="form-control" placeholder="Password">
                    <img [ngClass]="{'d-none': inputThere2}" class="password-icon bg-white"
                        src="assets/img/password-icon.svg">
                    <img (click)="showPw(2)" [ngClass]="{ 'd-none': !inputThere2 || !passwordShown2 }"
                        class="password-icon bg-white" src="assets/img/pw-no-show-icon.svg" style="cursor: pointer ;">
                    <img (click)="showPw(2)" #pwShowLogin [ngClass]="{ 'd-none': !inputThere2 || passwordShown2 }"
                        class="password-icon d-none bg-white" src="assets/img/pw-show-icon.svg"
                        style="cursor: pointer ;">
                </div>
            </form>

            <div>
                <span class="authErrorPlaceholder" *ngIf="!passwordsNotSame && !sthWentWrong && !passwordResetSuccess">Hallo</span>
            </div>
            <div>
                <span class="authError" *ngIf="passwordsNotSame && !sthWentWrong  && !passwordResetSuccess">The passwords are not the same!</span>
            </div>

            <div>
                <span class="authError" *ngIf="!passwordsNotSame && sthWentWrong  && !passwordResetSuccess">Something went wrong, try again later!</span>
            </div>
            <button *ngIf="!passwordResetSuccess" (click)="changePassword()" [disabled]="resetPwForm.invalid" [ngClass]="{'disabledBtn': resetPwForm.invalid}" type="submit" class="button hover-dark" style="margin-top: 16px ;">Change Password</button>

            <div class="successdiv" *ngIf="passwordResetSuccess">
                <span class="headlineSuccessChange">Your password was successfully changed!</span>
                <span class="subheadlineSuccessChange">You can Login now!</span>
                <button routerLink="/login" class="button hover-dark" style="margin-top: 40px ;">Go to Login</button>
            </div>


        </div>

    </div>
</div>