<div (click)="closeDialogF()" class="background">
    <div class="dialog" (click)="stopPropagation($event)">
        <img src="assets/img/close.svg" class="closeBtn" (click)="closeDialogF()">
        <h1>Create a new Board:</h1>
        <div class="inputdiv">
            <input [(ngModel)]="boardname" placeholder="Name" class="nameinput">
        </div>
        <div class="category-inputfield input-font">
            <div (click)="openContacts = !openContacts" class="selected-category flexdirectionrow">
                <p class="selected-font selected-contact">Select contacts to assign</p>
                <img class="arrow-down" src="assets/img/arrow-down.png">
            </div>
            <div [ngClass]="{'d-none': !openContacts}" class="category-inputfield-selector">
                <div *ngFor="let user of allusers" (click)="selectContact(user.id)" class="display-flex space-between align-center category-hover flexdirectionrow">
                    <span  class="selected-font">{{ user.username }}</span>
                    <input id="input-contact{{user.id}}" (click)="stopPropagation($event)" [checked]="username == user.username" style="margin-right: 16px;" class="mr-20 unchecked" type="checkbox">
                </div>
            </div>
        </div>
        <button [ngClass]="{'disabledBtn': boardname.length < 5 || assignedUsers.length == 0}" [disabled]="boardname.length < 5 || assignedUsers.length == 0" (click)="createBoard()">Create Board</button>
    </div>
</div>