<div class="dialog" (click)="stopPropagation($event)">
    <img src="assets/img/close-button-addtask.svg" class="closeBtn" (click)="closeAddContact()">
    <h1>Add a member</h1>
    <div class="category-inputfield input-font">
        <div (click)="openContacts = !openContacts" class="selected-category flexdirectionrow">
            <p class="selected-font selected-contact">Select contacts to assign</p>
            <img class="arrow-down" src="assets/img/arrow-down.png">
        </div>
        <div [ngClass]="{'d-none': !openContacts}" class="category-inputfield-selector">
            <div *ngFor="let user of allUsers" (click)="selectContact(user.id)" class="display-flex space-between align-center category-hover flexdirectionrow">
                <span  class="selected-font">{{ user.username }}</span>
                <input id="input-contact{{user.id}}" (click)="stopPropagation($event)" style="margin-right: 16px;" class="mr-20 unchecked" type="checkbox">
            </div>
        </div>
    </div>
    <button (click)="updateMembers()">Confirm</button>
</div>